<!DOCTYPE html>
<html lang="en">
<head>
	<title>AgriBnB</title>
	<meta charset="UTF-8">
	<meta name="description" content="AgriBnB -- Expriences by farmers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/flaticon.css"/>
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
	<link rel="stylesheet" href="/css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section start -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="site-logo">
						<h2><a href="/#slider2-h">AgriBnB</a></h2>
					</div>
				</div>
				<div class="col-md-8 text-md-right">
					<a href="/profile" class="header-hrefs">Profile</a>
					<a href="#" class="header-hrefs">Help our farmers</a>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section start -->
	<section class="hero-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<div class="row">
						<div class="col-lg-5">
							<div class="hero-text">
								<h2>{{title}}</h2>
								<p class="tags-desc">
									{% for tag in tags: %}
										<b class="tags">{{tag}}</b>
								   	{% endfor %}
								</p>
							</div>
							<div class="hero-info">
								<ul>
									<li>
										<img src="/img/location.svg" width=15>
										<a href="https://maps.google.com">{{info['info']['location']}}</a>
									</li>
									<li>
										<img src="/img/clock.svg" width=15>
										{{info['info']['duration']}}
									</li>
									<li>
										<img src="/img/tags.svg" width=15>
										{{info['info']['food_provision']}}
									</li>
									<li><img src="/img/wrench.svg" width=15>
										{{info['info']['logistics']}}
									</li>
									<li>
										<img src="/img/medical-cross.svg" width=15>
										{{info['info']['first_aids']}}
									</li>
								</ul>
							</div>
							<div class="hero-info">
								<!-- <h2>Earn this badges</h2> -->
								<p style="margin-left:350px;">Badges you can earn!</p>
								<ul class="listed">
									<li>
										<img src="/img/farm_badge.png" width=80 data-toggle="tooltip" data-placement="bottom" title="Earned for every farm related activity!">
									</li>
									<li>
										<img src="/img/green_badge.png" width=80 data-toggle="tooltip" data-placement="bottom" title="Earned for every planting related events!">
									</li>
									<li>
										<img src="/img/friend_badge.png" width=80 data-toggle="tooltip" data-placement="bottom" title="Earned when participating in an paid activity!">
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-7">
								<div class="review-slider owl-carousel">
									{% for img in info['images']: %}
										<div class="single-review">
											<img src="/img/{{img}}" alt="5">
										</div>
									{% endfor %}
								</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<h4>What to expect</h4>
							{{info['what_to_do'] | safe}}
						</div>
						<div class="col-lg-6">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Social links section start -->
	<div class="social-section farmer-info">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<figure class="hero-image">
						<img src="/img/{{info['farmer']['image']}}" alt="5">
					</figure>
				</div>
				<div class="col-lg-6">
					<h2>Meet {{info['farmer']['name']}}!</h2>
					<div class="qut">“</div>
					<div class="farmer-desc">
						{{info['farmer']['desc'] | safe}}

						<h4>{{info['farmer']['full_name']}}</h3>
						<h5>{{info['farmer']['designation']}}</h5>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- Social links section end -->

	<!-- Resume section start -->
	<section class="resume-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-7 offset-xl-2">
					<div class="section-title">
						<h2>Detailed Activities</h2>
					</div>
					<ul class="resume-list">
						{% for act in info['activity']: %}
							<li>
								<h3>{{act['time']}}</h3>
								<h4>{{act['title']}}</h4>
								<p>{{act['detail']}}</p>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Resume section end -->



	<!-- Extra section start -->
	<section class="extra-section spad pb-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="section-title">
						<h2>About the place</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					{{info['about_place'] | safe}}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div id="map" style="width:100%;height:600px;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Extra section end -->

	<!-- Contact section start -->
	<section class="contact-section spad">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl offset-xl-1">
					<div class="section-title">
						<h2>Schedules</h2>
					</div>
					<p>You can request for additional dates by contacting the host.</p>
				</div>
				<div class="col-xl-6">
					<div class="dates">	
						
						{% for sc in info['schedule']: %}
						<div class="row dates-details">
							<div class="col-xl-9 avail-details">
								<ul class="mini">
									<li><span class="date">{{sc['date']}}</span></li>
									<li><span class="prize">₱{{sc['price']}} per person</span></li>
									<li><span class="slots">{{sc['slots']}} spots left</span></li>
								</ul>
							</div>
							<div class="col-xl-3 text-md-right avail-select">
								<button class="btn btn-outline-success btn-lg">Select Date</button>
							</div>
						</div>
						{% endfor %}
						
						<div class="row">
							<div class="col-xl-12 text-md-center" style="margin-top: 20px;">
								<a href="#"> <img src="/img/calendar.svg" width=30> Open calendar to view more shedule. </a>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->

	<!-- Footer section start -->
	<footer class="footer-section">
		<div class="container text-center">
			<div class="copyright">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/circle-progress.min.js"></script>
	<script src="/js/main.js"></script>
    <script>
      var map;
      function initMap() {
      	var lat = {{info['info']['lat']}}, lng = {{info['info']['lng']}};
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: lat, lng: lng},
          zoom: 15,
          scaleControl: false,
          scaleControl: false,
          overviewMapControl: false,
          mapTypeControl: false,
          rotateControl: false,
          streetViewControl: false,
          styles: [
			    {
			        "featureType": "water",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#76aee3"
			            },
			            {
			                "saturation": 38
			            },
			            {
			                "lightness": -11
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "road.highway",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#8dc749"
			            },
			            {
			                "saturation": -47
			            },
			            {
			                "lightness": -17
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "poi.park",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#c6e3a4"
			            },
			            {
			                "saturation": 17
			            },
			            {
			                "lightness": -2
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "road.arterial",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#cccccc"
			            },
			            {
			                "saturation": -100
			            },
			            {
			                "lightness": 13
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "administrative.land_parcel",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#5f5855"
			            },
			            {
			                "saturation": 6
			            },
			            {
			                "lightness": -31
			            },
			            {
			                "visibility": "on"
			            }
			        ]
			    },
			    {
			        "featureType": "road.local",
			        "elementType": "all",
			        "stylers": [
			            {
			                "hue": "#ffffff"
			            },
			            {
			                "saturation": -100
			            },
			            {
			                "lightness": 100
			            },
			            {
			                "visibility": "simplified"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "all",
			        "stylers": []
			    }
			]
        });

		var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC48xTDUea9q-Bccsq5EVTQABrrcrb0-aA&callback=initMap"
    async defer></script>
</body>
</html>